*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --dark-purple : #352F43;
    --break-white: #F7F7F7 ;
}

body {
	background-color: var(--break-white);
	color: var(--dark-purple);
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 100%;
	line-height: 1.5; 
    overflow-x: hidden ;
}

.bg-dark-purple{
    background-color: var(--dark-purple);
    color: var(--break-white);
}

.bg-break-white{
    background-color: var(--break-white);
    color: var(--dark-purple);
}

.px-10{
    padding: 0 10rem;
}

/*index*/
.trombi{
    margin-top:2rem;
    border-radius: 500px;
    height: auto;
    width: 50%;
    filter: grayscale(1);
    background-color: var(--break-white);
}
.textTrombi{
    margin-bottom:0;
    padding: 2rem;
}
.cartTrombi{
    width: 30%;
    border-radius: 15px;
}
#buttonIndex{
    display: flex;
    padding: 0.5rem 1.5rem;
    margin: 2rem auto;
    border: 0.5px solid var(--dark-purple);
    border-radius: 50px;
}

#buttonIndex:hover{
    border: 0.5px solid var(--dark-purple);
    background-color: var(--dark-purple);
    color: var(--break-white);
}

#copyright{
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 0;
}
.illu::after{
    content:url(/assets/img/illu1.svg);
    position: absolute;
    width: 5rem;
    top: 10%;
    left: 5%;
}
.illu::before{
    content:url(/assets/img/illu1.svg);
    transform: rotate(180deg);
    position: absolute;
    width: 5rem;
    top: 10%;
    right: 5%;
}

#logoEcv{
    padding: 0.5rem;
    height: 3rem;
    display: flex;
    margin: auto;
}
#problematique{
    padding: 1.5rem 5rem;
    border-radius: 15px;
}
#theme{
    border-radius: 15px;
    border: 0.5rem solid var(--dark-purple);
    padding: 1.5rem 3.7rem;
}
